<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{TITLE}}</title>
  <link rel="icon" type="image/x-icon" href="/favicon.ico">
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <header>
    <nav>
      <div class="nav-item">
        <a href="/">Dashboard</a>
      </div>
      <div class="nav-item dropdown">
        <button type="button">Passwords</button>
        <div class="dropdown-menu">
          <a href="/passwords">All Passwords</a>
          <a href="/passwords/add">Add Password</a>
        </div>
      </div>
    </nav>
  </header>
  <script src="/script.js"></script>
  <main>
    <div class="page-content">

